/* Обшие настройки*/
html, body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

::-webkit-scrollbar{
  width:12px;
}

::-webkit-scrollbar-thumb{
  border-width:1px 1px 1px 2px;
  border-color: #777;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}

::-webkit-scrollbar-track{
  border-width:0;
}

::-webkit-scrollbar-track:hover{
  border-left: solid 1px #aaa;
  background-color: #eee;
}

/* Заглавный текст */
.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding-top: 5%;
  text-shadow: 1px 1px 1.25px black;
}

/*СSS код для расположения таблицы мышц*/
.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center; 
}

.grid-element {
width: 300px;
height: 300px;
border-radius: 4%;
}

/*CSS код для навигации*/
#navbar {
  /****/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  /******/
  position: fixed; 
  top: 0; 
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  height: 50px;
  /******/
  background-color: #fff; 
  transition: top 0.3s;
  border: 1px solid #C0C0C0;
  background: #ffffff;
  -webkit-border-radius: 0 0 1em 1em;
  -webkit-box-shadow: 0 0 0.4em 0.01em #888;
}

.navText {
  font-size: smaller;
  margin: 0px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  text-align: center;
  font-style: bold;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.navCell:hover {
  opacity: 0.5;
}

/*******/
footer {
  font-family: 'Open Sans', sans-serif;
  font-size: x-small;
}


